button {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.flex-column {
    display: flex;
    flex-direction: column;    
}

a {
    text-decoration: none;
    color: inherit;
}

.gap-10 {
    gap: 10px;
}

.w-100 {
    width: 100%;    
}
