#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;  
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

button:hover {
  transform: scale(1.1);
}

.botao-custom:active {
  transform: scale(1);
}

.m-t-2em {
  margin-top: 2em;
}