* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

}

.container {
    display: flex;
    flex-direction: column;
    background-image: url('./imgs/background.png');
    min-height: 100%;   
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2em 25vw;
}

.pointer {
    cursor: pointer;    
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: row;
    
}

.info {
    width: 1000px;
    margin-top: 150px;
    margin-left: 30px;
    padding: 30px;
}

.titulo {
    font-size: 18px;
}

.genero {
    font-size: 14px;
    font-weight: 400;
}

.descricao {
    font-size: 14px;
    width: 200px;    
}

.red {
    color: red;
}

.poster {
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    height: 450px;    
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-left: 100px;  
    height: 200px; 
    margin-top: 150px;
    margin-right: 50px;
}

footer {
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content:flex-start
}

.m-t-14 {
    margin-top: 14px;
}

.m-t-28 {
    margin-top: 28px;
}

.episodios {
    height: 120px;   
}

.padding10 {
    padding: 10px;
}

.radius20 {
    border-radius: 20px;
}

.shadow {
    box-shadow: 5px 5px 10px rgb(3, 0, 0);
}

.m-r-15 {
    margin-right: 15px;
}
