.container-noticia {    
    background-color: rgba(15, 235, 243, 0.397);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 80px;
    gap: 10px;
    justify-content: center;    
}

